<!doctype html>
<html>
    <head>
        <title>Web app name</title>
    </head>

    <form action="{{ url_for('main') }}" method="POST">

        <fieldset>
            <legend>Input values:</legend>
            Weight:
            <input name="Weight" type="number" required>
            <br>
            <br> Length1:
            <input name="Length1" type="number" required>
            <br>
            <br> Length2:
            <input name="Length2" type="number" required>
            <br>
            <br> Length3:
            <input name="Length3" type="number" required>
            <br>
            <br> Height:
            <input name="Height" type="number" required>
            <br>
            <br> Width:
            <input name="Width" type="number" required>
            <br>
            <br>
            <input type="submit">
        </fieldset>
    
    </form>
    <br>
    <div class="result" align="center">

        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
                <br>
            <br> Class:
                <p style="font-size:50px">{{ result }}</p>
        {% endif %}

    </div>    
</html>